services:
  - type: web
    name: meeting5-BACKEND
    env: node
    region: oregon
    plan: free
    branch: juan-rodas
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
